@import url(tp2.css);
.body3{
    background-attachment: fixed;
    background-image: url(../images/R.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}
.text-firstColor{
    color: var(--firstColor);
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
}
#gammeDeJeux{
    position: relative;
    /* background-color: var(--secondary); */
    color: var(--secondColor);
    padding: 25px;
    border: none;
    border-radius: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "totalOverdose fifa23"
        "needForSpeed ageOfAmpire"
    ;
    gap: 5px;
    justify-content: center;
}
#totalOverdose{
    position: relative;
    grid-area: totalOverdose;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "resumetod imgtod";
    justify-content: center;
    align-items: center;
}
#totalOverdose .resume{
    grid-area: resumetod;
}
#totalOverdose .img{
    grid-area: imgtod;
}
#fifa23{
    grid-area: fifa23; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imgfifa23 resumefifa23";
    justify-content: center;
}
#fifa23 .img{
    grid-area: imgfifa23;
}
#fifa23 .resume{
    grid-area: resumefifa23;
}
#needForSpeed{
    grid-area: needForSpeed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "resumeneed imgneed";
    justify-content: center;
}
#needForSpeed .resume{
    grid-area: resumeneed;
}
#ageOfAmpire{
    grid-area: ageOfAmpire;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imgage resumeAge";
    justify-content: center;
}
#ageOfAmpire .resume{
    grid-area: resumeAge;
}
.resume{
    position: relative;
    font-size: 18px;
    width: 100%;
    height: 200px;
    visibility: hidden;
    opacity: 0;
    transition: .7s ease;
    font-size: 18px;
    /* color: var(--secondColor); */
    color: white;
}
.img{
    position: relative;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.img:hover+.resume{
    visibility: visible;
    opacity: 1;
}
#zone{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "formulaire presentationDesJeux"
    ;
    gap: 20px;
    justify-content: center;
}
#formulaire{
    position: relative;
    width: 100%;
    color: var(--firstColor);
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    text-align: center;
}
.form-items{
   color: var(--firstColor);
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    background-color: var(--specialColor1);
}
.form-items::placeholder{
    color: var(--firstColor);
}
#mesBoutons{
    display: flex;  
    justify-content: end;
    align-items: end;
    gap: 12px;
}
#send,#remove{
    color: var(--thirdColor);
    background-color: var(--firstColor);
    border: none;
    border-radius: 8px;
    font-size: 12px;
    width: 90px;
    transition: .3s ease-out;
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    font-weight: 400;
    padding: 8px;
}
#send:hover,#remove:hover{
    cursor: pointer;
    color: var(--firstColor);
    background-color: var(--thirdColor);
}
#presentationDesJeux{
    position: relative;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

#ZoneCommentaires{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.commentaire{
    position: relative;
    margin: 50px;
}
.entete-commentaire{
    width: 300px;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.photo{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 2;
}
.photo>img{
    position: relative;
    height: 60px;
    width: 60px;
    background-color: var(--firstColor);
    border-radius: 50%;
    object-fit: cover;
}
.pseudo{
    position: relative;
    width: 400px;
    height: 30px;
    background-color: var(--firstColor);
    color: var(--thirdColor);
    padding: 8px;
    font-size: 8px;
    border: none;
    border-radius: 8px;
    z-index: 1;
    top: 3px;
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
}
.contenus{
    position: relative;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--firstColor);
    color: var(--thirdColor);
    left: 50px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 20px;
}
.messageText{
    padding: 8px;
    margin: 5px;
}
.message-footer{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "rate . unlike like" 
    ; */
    gap: 5px;
}
.like-unlike{
    position: relative;
    background-color: var(--thirdColor);
    color: var(--firstColor);
    width: 50px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 3px;
    transition: .3s ease-out;
}
.like-unlike:hover{
    cursor: pointer;
    background-color: var(--thirdColorOpaciti);
    color: var(--thirdColor);
}
.like-unlike>img{
    width: 20px;
    height: 20px;
    transform: translateY(20%);
}
.message-footer>span + span + span{
    grid-area: like;
    float: right;
    text-align: left;
}
.message-footer>span + span{
    grid-area: unlike;
    float: right;
    text-align: left;
}
.message-footer>.rate{
    position: relative;
    grid-area: rate;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 10px;
    top: 8px;
}


/* Très petit
<576px */

/* Petit
≥576px */

/* Moyen
≥768px */

/* Grand
≥992px */

/* Très grand
≥1200px */


@media (max-width: 768px) {
    #gammeDeJeux{
        position: relative;
        color: var(--secondColor);
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "totalOverdose"
            "fifa23"
            "needForSpeed"
            "ageOfAmpire"
        ;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .resume{
        position: relative;
        font-size: 15px;
        width: 300px;
        height: 200px;
        opacity: 1;
        transition: .7s ease;
        visibility: visible;
    }
    #totalOverdose{
        position: relative;
        grid-area: totalOverdose;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "imgtod"
            "resumetod"
        ;
        justify-content: center;
        align-items: center;
        width: 500px;

    }
    #totalOverdose .resume{
        position: relative;
        grid-area: resumetod;
        padding: 10px;
        visibility: visible;
        left: 25px;
        width: 90%;
        border: 1px solid var(--secondColor);
        height: auto;
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #totalOverdose .img{
        position: relative;
        grid-area: imgtod;
        border-radius: 6px;
        left: 25px;
        width: 90%;
        height: auto;
    }

    #fifa23{
        position: relative;
        grid-area: fifa23;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "imgfifa23"
            "resumefifa23"
        ;
        justify-content: center;
        width: 500px;
    }
    #fifa23 .resume{
        grid-area: resumefifa23;
        left: 25px;
        width: 90%;
        border: 1px solid var(--secondColor);
        height: auto;
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #fifa23 .img{
        grid-area: imgfifa23;
        border-radius: 6px;
        left: 25px;
        width: 90%;
        height: auto;
    }
    #needForSpeed{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "imgneed"
            "resumeneed"
        ;
        justify-content: center;
        width: 500px;
    }
    #needForSpeed .resume{
        left: 25px;
        width: 90%;
        border: 1px solid var(--secondColor);
        height: auto;
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #needForSpeed .img{
        grid-area: imgneed;
        left: 25px;
        width: 90%;
        height: 250px;
        border-radius: 8px;
    }
    #ageOfAmpire{
        grid-template-columns: 1fr;
        grid-template-areas:
            "imgage"
            "resumeAge"
        ;
        justify-content: center;
        width: 500px;
    }
    #ageOfAmpire .resume{
        left: 25px;
        width: 90%;
        border: 1px solid var(--secondColor);
        height: auto;
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #ageOfAmpire .img{
        grid-area: imgage;
        left: 25px;
        width: 90%;
        border-radius: 8px;
        height: auto;
    }


    #zone{
        position: relative;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "formulaire"
            "presentationDesJeux"
        ;
        gap: 20px;
        justify-content: center;
        width: 500px;
    }
    #formulaire{
        left: 55px;
        width: 70%;
        margin-left: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
    }
    #presentationDesJeux{
        position: relative;
        width: 480px;
        height: 320px;
        border-radius: 6px;
        object-fit: cover;
    }
    #ZoneCommentaires{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .commentaire{
        margin: 20px;
    }
    .photo{
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        z-index: 2;
    }
    .pseudo{
        position: relative;
        width: 350px;
        height: 30px;
        font-size: 12px;
    }
    .contenus{
        position: relative;
        width: 340px;
        font-size: 12px;
    }
    .like-unlike{
        position: relative;
        background-color: var(--thirdColor);
        color: var(--firstColor);
        width: 45px;
        height: auto;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    #gammeDeJeux{
        position: relative;
        color: var(--secondColor);
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "totalOverdose fifa23"
            "needForSpeed ageOfAmpire"
        ;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .resume{
        position: relative;
        font-size: 15px;
        width: 300px;
        height: 150px;
        opacity: 1;
        transition: .7s ease;
        visibility: visible;
        overflow: hidden;
        padding-bottom: 12px;
    }
    #totalOverdose{
        position: relative;
        grid-area: totalOverdose;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "imgtod"
            "resumetod"
        ;
        justify-content: center;
        align-items: center;
        width: auto;

    }
    #totalOverdose .resume{
        position: relative;
        grid-area: resumetod;
        padding: 10px;
        padding-bottom: 10px;
        visibility: visible;
        left: 25px;
        width: 90%;
        border: 1px solid var(--secondColor);
        height: 150px;
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #totalOverdose .img{
        position: relative;
        grid-area: imgtod;
        border-radius: 6px;
        left: 25px;
        width: 90%;
        height: 150px;
    }

    #fifa23{
        position: relative;
        grid-area: fifa23;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "imgfifa23"
            "resumefifa23"
        ;
        justify-content: center;
        width: auto;
    }
    #fifa23 .resume{
        grid-area: resumefifa23;
        left: 25px;
        width: 90%;
        border: 1px solid var(--secondColor);
        height: 150px;
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #fifa23 .img{
        grid-area: imgfifa23;
        border-radius: 6px;
        left: 25px;
        width: 90%;
        height: 150px;
    }
    #needForSpeed{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "imgneed"
            "resumeneed"
        ;
        justify-content: center;
        width: auto;
    }
    #needForSpeed .resume{
        left: 25px;
        width: 90%;
        height: 150px;
        border: 1px solid var(--secondColor);
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #needForSpeed .img{
        grid-area: imgneed;
        left: 25px;
        width: 90%;
        height: 150px;
        border-radius: 8px;
    }
    #ageOfAmpire{
        grid-template-columns: 1fr;
        grid-template-areas:
            "imgage"
            "resumeAge"
        ;
        justify-content: center;
        width: auto;
    }
    #ageOfAmpire .resume{
        left: 25px;
        width: 90%;
        height: 150px;
        border: 1px solid var(--secondColor);
        border-radius: 8px;
        margin-top: 0px;
        border-top: none;
    }
    #ageOfAmpire .img{
        grid-area: imgage;
        left: 25px;
        width: 90%;
        border-radius: 8px;
        height: 150px;
    }
    #presentationDesJeux{
        position: relative;
        width: 400px;
        height: 320px;
        object-fit: cover;
    }
    #formulaire{
        position: relative;
        width: 90%;
        height: 80%;
        color: var(--firstColor);
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        text-align: center;
    }
}